body {
    margin: 0 auto;
    background-color: firebrick;
}

.Welcome {
    text-align: center;
    margin-top: 40px;
    color: white;
    font-size: 2em;
}

.wrap1 {
    height: 500px;
    width: 40%;
    border: 2px solid antiquewhite;
    margin: 50px auto;
    background-color: white;
}

.orderInfo {
    text-align: center;
    margin: 20px auto;
    font-size: 1.5em;
}

#nameId {
    margin-top: 60px;
    margin-left: 30px;
}

#cityId {
    margin-left: 50px;
}

.order {
    margin-top: 60px;
    margin-left: 275px;
}

#orderButton {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    background-color: firebrick;
    color: white;
}